@charset "UTF-8";
/* SCSS Document */

/* ------各ブロック-------*/
section,
header,
footer,
main,
.container {
  width: 100%;
  min-width: 800px;
}
main {
  padding: 100px 0;
}
.container {
  width: 800px;
  margin: 0 auto;
  padding: 80px 0;
  position: relative;
}

/* ------flex_box-------*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

/* ------エラーテキスト-------*/
.errorText {
  display: none;
  width: 100%;
  color: red;
}
.errorText.show {
  display: block;
}

@media screen and (max-width: 768px) {
  /* ------各ブロック-------*/
  section,
  header,
  footer,
  main,
  .container {
    min-width: auto;
  }
  main {
    padding: 80px 0;
  }
  .container {
    width: 90%;
    padding: 40px 0;
  }
}
